// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
head{

}

.apple{
  display: flex;
  justify-content: space-between;
}
h1{
  color: red;
}

h3{
  color: blue;
}